<div>
  <h2>Edit Tree Below</h2>
  <button mat-button
          (click)="editTreeVM.expand()">Expand</button>
  <button mat-button
          (click)="editTreeVM.collapse()">Collapse</button>
  <app-edit-tree *ngIf="editTreeVM"
                 [vm]="editTreeVM">
    <ng-template #itemTemplate
                 let-node>
      <div (click)="onClick(node)">
        {{node?.item}}{{node?.payload?.value}}
      </div>
    </ng-template>
  </app-edit-tree>
  <h2>View Tree Below</h2>
  <app-view-tree *ngIf="viewTreeVM"
                 [vm]="viewTreeVM">
    <ng-template #itemTemplate
                 let-node>
      <div (click)="onClick(node)">
        {{node?.item}}{{node?.payload?.value}}
      </div>
    </ng-template>
  </app-view-tree>
</div>
