<div>
  <h2>Edit Tree Below</h2>
  <button mat-button
          (click)="menuTreeVM.expand()">Expand</button>
  <button mat-button
          (click)="menuTreeVM.collapse()">Collapse</button>
  <buns-menu-tree *ngIf="menuTreeVM"
                  [vm]="menuTreeVM">
    <ng-template #itemTemplate
                 let-node>
      <div (click)="onClick(node)">
        {{node?.item}}{{node?.payload?.value}}
      </div>
    </ng-template>
  </buns-menu-tree>
  <h2>View Tree Below</h2>
  <input matInput
         placeholder="Search"
         (input)="filterChanged($event.target.value)">
  <buns-view-tree *ngIf="viewTreeVM"
                  [vm]="viewTreeVM">
    <ng-template #itemTemplate
                 let-node>
      <div (click)="onClick(node)">
        {{node?.item}}{{node?.payload?.value}}
      </div>
    </ng-template>
  </buns-view-tree>
</div>
