<mat-tree #tree
          [dataSource]="dataSource"
          [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node"
                 matTreeNodeToggle
                 matTreeNodePadding>
    <button mat-icon-button
            disabled></button>
    <!-- <mat-checkbox class="checklist-leaf-node"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="checklistSelection.toggle(node)"></mat-checkbox> -->
    <button mat-button
            [matMenuTriggerFor]="menu">Menu</button>
    <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: node}"></ng-container>
    <!-- <button mat-icon-button
            [disabled]="itemInAddState"
            *ngIf="node.level < maxLevel"
            (click)="addNewItem(node)">
      <mat-icon>add</mat-icon>
    </button> -->
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent"
                 matTreeNodePadding>
    <button mat-icon-button
            disabled></button>
    <mat-form-field>
      <input matInput
             #itemValue
             placeholder="New item...">
    </mat-form-field>
    <button mat-button
            (click)="saveNode(node, itemValue.value)">Save</button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                 matTreeNodePadding>
    <button mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <button mat-button
            [matMenuTriggerFor]="menu">Menu</button>
    <!-- <mat-checkbox [checked]="descendantsAllSelected(node)"
                  (change)="selectionToggle(node)">
                </mat-checkbox> -->
    <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: node}"></ng-container>
    <!-- <button mat-icon-button
            [disabled]="itemInAddState"
            (click)="addNewItem(node)">
      <mat-icon>add</mat-icon>
    </button> -->
  </mat-tree-node>
</mat-tree>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Action Item 1</button>
  <button mat-menu-item>Action Item 2</button>
</mat-menu>
